* {
    margin:0; padding:0; 
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    font-family: sans-serif;
}
.container {
    text-align: center;
}
.container .packagecontainer {
    max-width: 1200px;
    width: 1000px;
    margin:0 auto;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;

}
.container .packagecontainer .amount{
    margin-top:15px;
}

.container .packagecontainer .amount span {
    padding: 2px;
    text-align: center;

}
.container .packagecontainer .amount span.price{
    font-size: 40px;
    color: black;
    font-weight: bolder;
}
.container .packagecontainer .amount span.month{
    font-size: 15px;
    color: grey;
}

.container .packagecontainer .package {
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 7px 8px rgb(173 188 182), 0 1px 2px rgb(173 188 182) ;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    padding:15px 0;
}
ul li {
    padding: 5px;
    font-size:15px;
    color:grey;
    background-color: white;
}
.container h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
}
.container .underline {
    padding:0.3vh;
    width:40px;
    height:4px;
    margin-left:565px;
    margin-top:10px;
    border-radius: 5vh;
    background-color: #50c878;
}
.container .packagecontainer .package h3 {
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;

}
.icon div span{
    display:flex;
    justify-content: center;
    background-color: #50c878;
    border-radius: 50%;
    align-items: center;
    padding: 18px;
}
.fa-chart-pie {
    font-size: 25px;
    color: white;
}
.fa-arrow-trend-up {
    font-size: 25px;
    color: white;
}
.fa-city {
    font-size: 25px;
    color: white;

}
.container .packagecontainer .package .button{
    margin: 15px;
    width:250px;
    display:block;
    font-size: 15px;
    background-color:#50c878;
    color:white;
    padding: 15px;
    border-radius: 25px;
}
.container .price-toggler {
    margin-top: 35px;
    margin-bottom: 25px;
    display: inline-block;
    padding:5px;
    background-color: #fff;
    box-shadow:0 7px 8px rgb(173 188 182), 0 1px 2px rgb(173 188 182);
    border-radius: 25px;
}
.container .price-toggler span {
    padding: 10px 30px;
    cursor:pointer;
    color:#50c878;
    background-color:#50c8785d;
    border-radius: 20px;
    font-size: 15px;
    display: inline-block;
}
.container .price-toggler span.active {
    background-color: #50c878;
    color: #ffff;
    border-radius: 20px;
}

.price-toggler span {
    cursor:pointer;
    color:#fff;

}







